/* split-csv-options-wrapper */
/* list-textarea */
/* type */

* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

body {
  width: 100vw !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  overflow-x: hidden !important;
}

.compare-lists-form {
  max-width: 1280px !important;
}

.btns {
  display: inline-block !important;
  /* width: 50px !important; */
  min-width: 50px !important;
  height: 45px !important;
  background: #fff !important;
  color: #333 !important;
  padding: 8px 14px !important;
  border-color: #ccc !important;
  font-weight: 500 !important;
  text-align: center !important;
}

.btns:hover ,
.file-input-label:hover {
  background: #e1e0e0 !important;
}

.file-form-group {
  min-width: 58px !important ;
  height: 45px !important;
  border: 1px solid #ccc !important;
  border-color: #ccc !important;
  background: #fff !important;
  color: #333 !important;
}

.file-input-label {
  background: #fff !important;
  color: #333 !important;
  padding: 8px 14px !important;
  font-weight: 500 !important;
}

.move-btn {
  min-width: 80px !important;
  text-wrap: nowrap !important;
}

a {
  text-decoration: none !important;
}

button:active {
  transform: scale(0.95) !important;
}

.blue-shades-border-color {
  border: 1px solid transparent !important;
  border-color: #bce8f1 !important;
}

.blue-shades-header-panel {
  background: #d9edf7 !important;
  border-bottom: 1px solid transparent !important;
  color: #31708f !important;
  border-color: #bce8f1 !important;
  /* border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important; */
}

.blue-shades-lines,
.blue-shades-duplicates {
  min-width: 10px !important;
  background-color: #31708f !important ;
  color: #d9edf7 !important;
  line-height: 1 !important;
  /* border-radius: 10px !important; */
  /* padding: 3px 7px !important; */
}

.green-shades-border-color {
  border: 1px solid transparent !important;
  border-color: #d6e9c6 !important;
}

.green-shades-header-panel {
  background: #dff0d8 !important;
  border-bottom: 1px solid transparent !important;
  color: #3c763d !important;
  border-color: #d6e9c6 !important;
  /* border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important; */
}

.green-shades-lines,
.green-shades-duplicates {
  min-width: 10px !important;
  background-color: #3c763d !important ;
  color: #dff0d8 !important;
  line-height: 1 !important;
  /* border-radius: 10px !important; */
  /* padding: 3px 7px !important; */
}

.red-shades-header-panel {
  color: #a94442 !important;
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
}

.red-shades-lines,
.red-shades-duplicates {
  min-width: 10px !important;
  background-color: #a94442 !important;
  color: #f2dede !important;
  line-height: 1 !important;
}

.red-shades-border-color {
  border: 1px solid transparent !important;
  border-color: #ebccd1 !important;
}

textarea {
  /* height: 350px !important; */
  font-family: Consolas, Lucida Console, courier, monospace !important;
  white-space: pre !important;
  overflow-wrap: normal !important;
  overflow-x: scroll !important;
  resize: none !important;
  border: 0.12rem solid #ccc !important;
}

textarea:focus,
select:focus,
form input {
  outline: none !important;
  box-shadow: none !important;
}

form input:focus {
  border-color: #7ebeff !important;
  box-shadow: 0 0px 3px #7ebeff, 0 0px 5px #fff !important;
  -webkit-box-shadow: 0 0px 3px #7ebeff, 0 0px 5px #fff !important;
}

form input[type="text"] {
  color: #555 !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
}

select {
  border: 0 !important;
  border-left: 1px solid #ccc !important;
  /* overflow: auto !important; */
}

.check-inputs-wrapper {
  background: #f5f5f5 !important;
}

.footer-panel {
  background-color: #f5f5f5 !important;
}

.go-btn {
  width: 65px !important;
  min-width: 65px !important;
  height: 45px !important;
  display: inline-block !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
  font-size: 18px !important;
  color: #fff !important;
  text-align: center !important;
}

.go-btn:hover,
.compare-text-btn:hover {
  background-color: #4f9a4f !important;
}

.compare-lists-btn {
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important ;
}

.compare-lists-btn:hover {
  background-color: #4388c5 !important;
}

.compare-text-btn {
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.text-list {
  list-style-type: disc !important;
  /* font-size: 16px !important; */
}

.text-list2 {
  list-style-type: circle !important;
}
.text-list3 {
  list-style-type: square !important;
}

.a-only-wrapper {
  /* width: 100% !important;
  min-width: 250px !important;
  max-width: 300px !important; */
  width: 30% !important;
}

.only-cards {
  width: 100% !important;
  max-width: 350px !important;
}

.list-textarea,
.only-textarea {
  /* height: auto !important; */
}

.header-panel-a-only {
  background-color: #d9edf7 !important;
  color: #31708f !important;
  border-color: #bce8f1 !important;
}

.aub-wrapper {
  min-height: 600px !important ;
}

.readonly-textarea {
  width: 3rem !important;
  height: 85% !important;
  background-color: #e2e2e2 !important;
  display: flex !important;
  overflow: hidden !important;
  text-align: center !important;
  box-shadow: none !important;
  color: #928869 !important;
}

.empty-inputs-wrapper {
  min-height: 400px !important;
}

.empty-inputs-col {
  background: #f5f5f5 !important;
  max-height: 45px !important;
}

.compare-text-ul {
  background-color: #f4f4f4 !important;
  font-size: 14px !important;
  
}

.compare-text-li ,
em {
  color: #c7254e !important;
}

.select-wrapper {
  min-height: 240px !important;
  
}


@media screen and (max-width: 1070px) {
  .only-wrapper {
    flex-direction: column !important;
  }

  .a-only-wrapper {
    width: 100% !important;
  }

  .only-cards {
    width: 100% !important;
    max-width: none !important;
  }

  .split-csv-options-wrapper {
    width: 100% !important;
  }
  .csv-textarea {
    max-height: 400px !important;
  }
}
